.left-menu{
    width: 20%;
    height: 828px;
    left: 0px;
    top: 0px;
    float: left;
    background: #323435;
}
.list-menu{
    width: 100%;
    height: 558px;
    left: 0px;
    top: 0px;
    float: left;
    background: #323435;
}
.setting{
    width: 100%;
    height:0px ;
    left: 0px;
    top: 558px;
    float: left;
    background: #323435;
}